
@{
    ViewData["Title"] = "DisplayPerson";
}

<h1>DisplayDetails</h1>
<table class="table">
    <tr>
        <td>
            Enter User Name
        </td>
        <td>
            @ViewBag.Name
        </td>
    </tr>
    <tr>
        <td>
            Enter Id
        </td>
        <td>
            @ViewBag.Id
        </td>
    </tr>
    <tr>
        <td>
            Select Gender
        </td>
        <td>
            @ViewBag.Gender
        </td>
    </tr>
    <tr>
        <td>
            select cities
        </td>
        <td>
            @ViewBag.Cities
        </td>
    </tr>
    <tr>
        <td>
            select hobbies
        </td>
        <td>
            @ViewBag.Hobbies
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <input type="Submit" value="save" />
        </td>
    </tr>

</table>


